{
  "en/**/*.{vue,js}": ["eslint --ignore-path en/.eslintignore --fix"],
  "ja/**/*.{vue,js}": ["eslint --ignore-path ja/.eslintignore --fix"],
  "th/**/*.{vue,js}": ["eslint --ignore-path ja/.eslintignore --fix"],
  "vi/**/*.{vue,js}": ["eslint --ignore-path ja/.eslintignore --fix"],
  "en/**/*.{vue,scss,css}": ["stylelint --fix"],
  "ja/**/*.{vue,scss,css}": ["stylelint --fix"],
  "th/**/*.{vue,scss,css}": ["stylelint --fix"],
  "vi/**/*.{vue,scss,css}": ["stylelint --fix"],
  "common/**/*.{vue,scss,css}": ["stylelint --fix"],
  "common/**/*.{vue,js}": ["eslint --ignore-path en/.eslintignore --fix"],
  "components/**/*.{vue,scss,css}": ["stylelint --fix"],
  "components/**/*.{vue,js}": ["eslint --ignore-path en/.eslintignore --fix"],
  "packages/auth/**/*.{vue,js}": ["yarn --cwd packages/auth run lint:js"],
  "packages/auth/**/*.{vue,scss,css}": ["yarn --cwd packages/auth run lint:css"],
  "packages/auth2/**/*.{ts,js,tsx,jsx}": ["yarn --cwd packages/auth2 run lint:js"],
  "packages/auth2/**/*.{scss,css}": ["yarn --cwd packages/auth2 run lint:css"],
  "packages/accounts/**/*.{ts,js,tsx,jsx}": ["yarn --cwd packages/accounts run lint:js"],
  "packages/accounts/**/*.{scss,css}": ["yarn --cwd packages/accounts run lint:css"],
  "packages/myaccount/**/*.{ts,js,tsx,jsx}": ["yarn --cwd packages/myaccount run lint:js"],
  "packages/myaccount/**/*.{scss,css}": ["yarn --cwd packages/myaccount run lint:css"],
  "packages/skijan/**/*.{ts,js,tsx,jsx}": ["yarn --cwd packages/skijan run lint:js"],
  "packages/skijan/**/*.{scss,css}": ["yarn --cwd packages/skijan run lint:css"],
  "packages/guard-skijan/**/*.{ts,js}": ["yarn --cwd packages/guard-skijan run lint:js"],
  "packages/guard-myaccount/**/*.{ts,js}": ["yarn --cwd packages/guard-myaccount run lint:js"]
}
