@import './icons.css';

@charset "UTF-8";



html,
body {
  height: 100%;
  touch-action: manipulation;
}

body {
  font-family: "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS UI Gothic", Arial, sans-serif;
}

body:lang(vi) {
  font-family: "Helvetica Neue", "Helvetica" , Arial, sans-serif;
}
body:lang(en) {
  font-family: "Meiryo", "MS UI Gothic", Arial, sans-serif;
}
div[aaaabbbb] > div > div > a {
  padding-top: 2px;
}
/* Start - This css block used for top slider - do not remove */
.star {
  color: gray;
  display: inline-block;
}
.star::before {
  content: '\2605';
}
.full {
  color: #f2a200;
}
.half {
  position: relative;
}
.half::after {
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  content: '\2605';
  color: #f2a200;
  width: 50%;
}
.no-rate {
  pointer-events: none;
}
/* End */
.bg-white{
  background: white;
}
.m-0 {
  margin: 0px;
}
.ml-0 {
  margin-left: 0px;
}
.mr-0 {
  margin-right: 0px;
}
.mt-0 {
  margin-top: 0px;
}
.mb-0 {
  margin-bottom: 0px;
}
.p-0 {
  padding: 0px;
}
.pl-0 {
  padding-left: 0px;
}
.pr-0 {
  padding-right: 0px;
}
.pt-0 {
  padding-top: 0px;
}
.pb-0 {
  padding-bottom: 0px;
}
.m-5 {
  margin: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.p-5 {
  padding: 5px;
}
.pl-5 {
  padding-left: 5px;
}
.pr-5 {
  padding-right: 5px;
}
.pt-5 {
  padding-top: 5px;
}
.pb-5 {
  padding-bottom: 5px;
}
.m-10 {
  margin: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.p-10 {
  padding: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.pt-10 {
  padding-top: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.m-15 {
  margin: 15px;
}
.ml-15 {
  margin-left: 15px;
}
.mr-15 {
  margin-right: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}
.p-15 {
  padding: 15px;
}
.pl-15 {
  padding-left: 15px;
}
.pr-15 {
  padding-right: 15px;
}
.pt-15 {
  padding-top: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}
.m-20 {
  margin: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.p-20 {
  padding: 20px;
}
.pl-20 {
  padding-left: 20px;
}
.pr-20 {
  padding-right: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.m-25 {
  margin: 25px;
}
.ml-25 {
  margin-left: 25px;
}
.mr-25 {
  margin-right: 25px;
}
.mt-25 {
  margin-top: 25px;
}
.mb-25 {
  margin-bottom: 25px;
}
.p-25 {
  padding: 25px;
}
.pl-25 {
  padding-left: 25px;
}
.pr-25 {
  padding-right: 25px;
}
.pt-25 {
  padding-top: 25px;
}
.pb-25 {
  padding-bottom: 25px;
}
.m-30 {
  margin: 30px;
}
.ml-30 {
  margin-left: 30px;
}
.mr-30 {
  margin-right: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
.p-30 {
  padding: 30px;
}
.pl-30 {
  padding-left: 30px;
}
.pr-30 {
  padding-right: 30px;
}
.pt-30 {
  padding-top: 30px;
}
.pb-30 {
  padding-bottom: 30px;
}
.m-35 {
  margin: 35px;
}
.ml-35 {
  margin-left: 35px;
}
.mr-35 {
  margin-right: 35px;
}
.mt-35 {
  margin-top: 35px;
}
.mb-35 {
  margin-bottom: 35px;
}
.p-35 {
  padding: 35px;
}
.pl-35 {
  padding-left: 35px;
}
.pr-35 {
  padding-right: 35px;
}
.pt-35 {
  padding-top: 35px;
}
.pb-35 {
  padding-bottom: 35px;
}
.m-40 {
  margin: 40px;
}
.ml-40 {
  margin-left: 40px;
}
.mr-40 {
  margin-right: 40px;
}
.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.p-40 {
  padding: 40px;
}
.pl-40 {
  padding-left: 40px;
}
.pr-40 {
  padding-right: 40px;
}
.pt-40 {
  padding-top: 40px;
}
.pb-40 {
  padding-bottom: 40px;
}
.m-45 {
  margin: 45px;
}
.ml-45 {
  margin-left: 45px;
}
.mr-45 {
  margin-right: 45px;
}
.mt-45 {
  margin-top: 45px;
}
.mb-45 {
  margin-bottom: 45px;
}
.p-45 {
  padding: 45px;
}
.pl-45 {
  padding-left: 45px;
}
.pr-45 {
  padding-right: 45px;
}
.pt-45 {
  padding-top: 45px;
}
.pb-45 {
  padding-bottom: 45px;
}
.m-50 {
  margin: 50px;
}
.ml-50 {
  margin-left: 50px;
}
.mr-50 {
  margin-right: 50px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-50 {
  margin-bottom: 50px;
}
.ml-60 {
  margin-left: 60px;
}
.mr-60 {
  margin-right: 60px;
}
.mt-60 {
  margin-top: 60px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-200 {
  margin-bottom: 200px;
}
.p-50 {
  padding: 50px;
}
.pl-50 {
  padding-left: 50px;
}
.pr-50 {
  padding-right: 50px;
}
.pt-50 {
  padding-top: 50px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pl-60 {
  padding-left: 60px;
}
.pr-60 {
  padding-right: 60px;
}
.pt-60 {
  padding-top: 60px;
}
.pb-60 {
  padding-bottom: 60px;
}

.flex {
  display: flex;
}
.flex.auto {
  flex: 1
}
.inline-flex {
  display: inline-flex;
}
.inline-flex.mid {
  align-items: center;
}
.inline-flex.center-content {
  justify-content: center;
}
.flex.grow12,
.flex .grow12 {
  flex: 1 2 auto;
}
.flex.grow1,
.flex .grow1 {
  flex: 1 0 auto;
}
.flex.grow0,
.flex .grow0 {
  flex: 1 0 0%;
}
.flex.grow00,
.flex .grow00 {
  flex: 0 0 0%;
}
.flex.grow11,
.flex .grow11 {
  flex: 1 1 0%;
}
.flex.row-reverse {
  flex-direction: row-reverse;
}
.flex.space-between {
  justify-content: space-between;
}
.flex.space-around {
  justify-content: space-around;
}
.flex.content-end {
  justify-content: flex-end;
}
.flex.layout-col {
  flex-direction: column;
}
.flex.layout-col-mid {
  align-items: center;
  justify-content: center;
}
.flex.layout-row {
  flex-direction: row;
}
.flex.mid {
  align-items: center;
}
.flex.center {
  justify-content: center;
}
.flex.flex-wrap {
  flex-wrap: wrap;
}
.flex.space-evenly {
  justify-content: space-evenly;
}
.no-border {
  border: none;
}
input:focus, a:focus, div:focus {
  outline: none;
}
.w-1000 {
  width: 1000px;
  margin: 0 auto;
}
.shadow {
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.cursor-pointer {
  cursor: pointer;
}
.no-underlying {
  color: inherit;
}
.no-underlying:hover, .no-underlying:focus {
  text-decoration: none;
  color: inherit;
}
.pos-abs {
  position: absolute;
}
.pos-rel {
  position: relative;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.row-middle-all td {
  vertical-align: middle !important;
}
.border-all {
  border: 1px #b4b5b6 solid;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-15 {
  font-size: 15px;
}
.wrap-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.word-break-all {
  word-break: break-all;
}
.h-200 {
  height: 200px;
}
.mh-50 {
  min-height: 50px;
}
.mh-100 {
  min-height: 100px;
}
.mh-150 {
  min-height: 150px;
}
.mh-200 {
  min-height: 200px;
}
.mh-250 {
  min-height: 250px;
}
.mh-300 {
  min-height: 300px;
}
.mh-350 {
  min-height: 350px;
}
.mh-450 {
  min-height: 350px;
}
.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clamp.clamp-1 {
  -webkit-line-clamp: 1;
}
.clamp.clamp-2 {
  -webkit-line-clamp: 2;
}
.clamp.clamp-3 {
  -webkit-line-clamp: 3;
}
.clamp.clamp-4 {
  -webkit-line-clamp: 4;
}
.clamp.clamp-5 {
  -webkit-line-clamp: 5;
}