.ql-editor {
  .ql-size-small {
    font-size: 0.75em !important;
  }
  .ql-size-large {
    font-size: 1.5em !important;
  }
  .ql-size-huge {
    font-size: 2.5em !important;
  }
  .ql-font-serif {
    font-family: Georgia, Times New Roman, serif !important;
  }
  .ql-font-monospace {
    font-family: Monaco, Courier New, monospace !important;
  }
  .ql-align-center {
    text-align: center !important;
  }
  .ql-align-right {
    text-align: right !important;
  }
}
