<div class="page">
  <div class="page-body">
    <a href="/">
      <img class="logo" src="https://www.gogojungle.co.jp/img/assets/pc/common/logo_new.svg">
    </a>
    <div class="body">
      <div>
        <h1>Error 500</h1>
        <h3>The server encountered a temporary error and<br>could not complete your request.</h3>
      </div>
      <img class="robot" src="https://www.gogojungle.co.jp/img/assets/pc/common/robot2.png" alt="">
    </div>
  </div>
</div>

<style>
.logo {
  width: 360px;
}
.page {
  color: #333;
  font-family: "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS UI Gothic", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-body {
  width: 85vw;
  margin-top: 20px;
}
@media only screen and (min-width: 600px) {
  .page-body {
    width: 90vw;
  }
}
@media only screen and (min-width: 900px) {
  .page-body {
    width: 80vw;
  }
}
@media only screen and (min-width: 1200px) {
  .page-body {
    width: 60vw;
  }
}
@media only screen and (min-width: 1500px) {
  .page-body {
    width: 50vw;
  }
}
.robot {
  width: 180px;
  flex: 0 0 180px;
  height: 158px;
}
.body {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
</style>
